[2015-05-15 08:47] xu6148152 opened #1 "yeah, like material design"

[2015-05-15 08:51] andreamazz commented on #1
Uhm... ok.

[2015-05-15 08:51] #1 closed, assigned to nobody

[2015-05-28 13:39] magnett opened #5 "Objective-C instructions"
Hi!
Your work is amazing however, i am not into Swift.
I imported your file, created the necessary bridging header and everything compiles, however i don't know how to "activate" the transition and use the delegates. Could you please provide an objective-c example?
Thanks in advance.

[2015-05-28 13:52] andreamazz commented on #5
Hi @magnett
Yeah, something's off when importing the pod in an Objective-C project. The enum with the transition mode is not translated in the header file. Pretty weird, I'll have to investigate.

[2015-05-28 13:58] magnett commented on #5
I also had that problem so i didn't use cocoapods, i just imported the BubbleTransition.swift

[2015-05-28 13:59] andreamazz commented on #5
And you can access the `transitionMode` property and the `BubbleTransitionMode` enum?

[2015-05-28 14:04] magnett commented on #5
I don't know how to that (even if possible) !

[2015-05-28 14:29] andreamazz commented on #5
Ok, I forgot to annotate the enum with `@objc`.
Pull the latest version of the code. Here's a gist with the Objective-C implementation:
https://gist.github.com/andreamazz/9b0d6c7db065555ec0d7

[2015-05-28 14:34] andreamazz commented on #5
This might help too:
http://d.pr/f/1ilaz

[2015-05-28 14:35] #5 closed, assigned to nobody

[2015-05-29 07:25] istx25 opened #7 "CARTHAGE SUPPORT."
https://github.com/andreamazz/BubbleTransition/pull/8

You may have to update your pods.

[2015-06-03 17:55] JDandini opened #9 "Orientations"
#### Problem

I use your beautiful control but when you make a presentation to a view controller with autorotate the rotation misses

[code]

Can you give me a idea to get this done please?

[2015-06-03 19:49] andreamazz commented on #9
Sure, the animation was a little wonky since the position was not reset properly upon rotation. I fixed it and added rotation to the demo app in this repo. Let me know if that works for you.

[2015-06-21 19:46] #9 closed, assigned to nobody

[2015-06-26 22:25] AbdullahAli opened #10 "How can I use this as a menu?"
I would like to use this as a modal menu for presenting options to the user.  Something like:

![unnamed](https://cloud.githubusercontent.com/assets/1620134/8388494/8f8d218c-1c5a-11e5-967a-115a77ab52de.gif)

Can you please give me an idea of how I can achieve this?

[2015-06-29 20:16] andreamazz commented on #10
It can be done I guess, but it requires some tinkering. I'll work on it in the next few days, it looks pretty cool.

[2015-06-29 20:57] AbdullahAli commented on #10
That would be sweet! Please let me know how you get on @andreamazz

There is this reference which might help (although it is slightly different): http://holko.pl/2014/06/26/recreating-skypes-action-sheet-animation/

[2015-06-29 20:58] AbdullahAli commented on #10
That would be pretty sweet! Please let me know how you get on, and if I can help in any way @andreamazz

Here is a reference which tries to achieve this effect (although it is done slightly differently to yours): http://holko.pl/2014/06/26/recreating-skypes-action-sheet-animation/

[2015-07-03 08:11] andreamazz commented on #10
Yeah, I don't know if I'll be adding the wobbly effect too :)
I'm having a bit of trouble on finding a way to parametrize the view that needs to be expanded. Passing a view as parameter is not an option since the outlets are not set at the time of the transition, while passing a rect with the view size is not a great API design and doesn't play well with autolayout. Any idea is welcome :)

[2015-07-03 12:22] AbdullahAli commented on #10
hey @andreamazz

I was looking at the blog mentioned (and also: http://victorbaro.com/2014/07/vbfjellyview-tutorial/) and a few other examples, what they do is they initialize the controller with the view and have it set as a stored property.  Then when the button is clicked, they play a similar sequence of animation as your example).  I guess the main thing they do is have 1 controller and an ove

[2015-07-03 12:33] andreamazz commented on #10
Yep, that's fine if your menu is a subview, but this is meant to be a custom transition. I'm not sure that's the best course of action, it would fit better a whole new lib dedicated to that. I might work on it in the next few days.

[2015-07-03 12:48] AbdullahAli commented on #10
you are right, I agree @andreamazz  I think jamming it into this lib would create a 3 headed and 5 legged monster :laughing:

when you create the new project tag me in and I'll start watching it and add some commits/suggestions too :+1:

[2015-07-15 07:52] AbdullahAli commented on #10
Any luck @andreamazz :smile_cat:

[2015-08-25 13:43] slxl opened #12 "Black background color on dismiss transition (Objective-C only)"
[code]

![ios simulator screen shot 25 2015 19 40 51](https://cloud.githubusercontent.com/assets/3089985/9468045/edf466c2-4b58-11e5-8310-ff4b5a03c35c.png)

Demo project, tested on simulator iOS8.3/iOS8.4 and on iPhone 5s iOS8.4

[2015-08-25 16:29] andreamazz commented on #12
Tested now, it's working fine. I did a fresh clone also, just to be sure.
Which version of Xcode are you using?

[2015-08-25 16:31] andreamazz commented on #10
Sorry, not yet. I'm pretty swamped at the moment, I don't see this happening in the short term to be honest. I'll keep you posted if I do. In the meantime I'm closing this issue.

[2015-08-25 16:31] #10 closed, assigned to nobody

[2015-08-25 16:43] slxl commented on #12
Version 6.4 (6E35b)

[2015-08-25 16:46] andreamazz commented on #12
Yup, same version here, no issues.

[2015-08-25 16:47] slxl commented on #12
What environment (iOS version, device/simulator) do you use?

[2015-08-25 16:48] andreamazz commented on #12
8.4 on an iPhone 5s as you suggested above.

[2015-08-25 16:51] slxl commented on #12
looks like I found, problem was with a setting for segue presentation (full screen instead of default in project), pardon, my fault

[2015-08-25 16:51] andreamazz commented on #12
No problem :+1:

[2015-08-25 16:53] slxl commented on #12
thanks for tool!

[2015-08-25 16:54] andreamazz commented on #12
:+1:

[2015-08-25 19:52] slxl commented on #12
@andreamazz problem still persists (but in my project only), looks like its something similar to what google returns for "dismiss modal view controller black screen" request, still looking for solution :/

all presentation settings and stuff are (i hope) identical, the only significant difference is that im using your BubbleTransition.swift in objective-c project. But I think that shouldnt be a pr

[2015-08-25 19:55] andreamazz commented on #12
Can you share the code or reproduce part of it in a stand alone project? I'll be happy to take a look at it.

[2015-08-25 19:57] slxl commented on #12
Will try tmrw, thanks!

[2015-08-25 22:55] slxl commented on #12
ty
-=ı˜ ¿

[2015-08-27 07:23] peskish commented on #12
I found solution here:
http://www.raywenderlich.com/forums/viewtopic.php?f=2&t=18661

Add this code in prepareForSegue:

[code]

[2015-09-16 08:36] slxl commented on #12
@andreamazz Despite being slowpoke, but I'm responsible also :)

https://dl.dropboxusercontent.com/u/18509214/TransitionTest.zip

here is a template project with a same structure as mine original. Would be great if you' have a look whats wrong there. Thanks! )

[2015-09-23 09:53] slxl commented on #12
@andreamazz had a time to look?

[2015-09-23 10:28] andreamazz commented on #12
Not yet, sorry, I'll get around it this weekend.

[2015-09-23 11:06] slxl commented on #12
@andreamazz appreciate this, thanks! I tried few approaches already, we could discuss in skype if you want (id: slxl.ru)

[2015-09-25 08:54] 99centsappdevelopment opened #13 "Objective-C"
Are you considering uploading Objective-C code of this transition?

Looks fantastic, by the way!

[2015-09-25 12:09] andreamazz commented on #13
Hi @99centsappdevelopment
No, since Swift and Objective-C work great together there's no need for me to write this in Objective-C too. You can find an Objective-C implementation in [this gist](https://gist.github.com/andreamazz/9b0d6c7db065555ec0d7)

[2015-09-25 12:09] #13 closed, assigned to nobody

[2015-09-27 17:18] andreamazz commented on #12
Well, I'm confused.
This is the view hierarchy in the sample:
<img width="183" alt="screen shot 2015-09-27 at 19 15 27" src="https://cloud.githubusercontent.com/assets/570797/10124098/2e93bafe-654c-11e5-9fbf-7409406e95d6.png">

You can see the starting view.
This is the hierarchy of your sample:

<img width="341" alt="screen shot 2015-09-27 at 19 14 52" src="https://cloud.githubusercontent.com/ass

[2015-09-28 07:50] andreamazz commented on #12
Ok, I started a new project, dropped in the animation, and I have the same issue. wth...

[2015-09-28 07:58] andreamazz commented on #12
The same sample written in Swift works fine. Awesome.

[2015-09-28 08:00] andreamazz commented on #12
Objective-C sample: http://d.pr/f/1fsLx

Swift sample: http://d.pr/f/1aNFW

[2015-10-15 16:37] slxl commented on #12
@andreamazz good news everyone!

somehow in both (yours and mine) projects there was

[code]

instead of

[code]

thanks to apple developer's support )

[2015-10-15 16:41] andreamazz commented on #12
Sneaky! Glad that this wasn't related to the lib itself.
Thanks for solving the mystery @slxl :+1:

Cheers

[2015-10-15 16:41] #12 closed, assigned to nobody

[2015-10-15 16:42] slxl commented on #12
i'd say, glad it wasn't related to Obj-C :)

[2015-10-15 16:44] andreamazz commented on #12
That would have been awkward :grimacing:

[2015-11-24 06:11] alicanbatur commented on #12
This fixed for me, using
controller.modalPresentationStyle = UIModalPresentationCustom;
instead of
controller.modalTransitionStyle = UIModalPresentationCustom; // incorrect

fyi.
(I'm on a objc project btw.)

[2015-12-09 02:31] acegreen opened #14 "Transition lag?"
Hello @andreamazz ,

First of thanks for the great work. Library works awesome.

I'm not sure if my problem is directly linked to bubbleTransition, but I'm noticing a lag on the FIRST button press. From there on after, its smooth as butter.

Note: The startingPoint is incorrect because it appears somewhere on the top though I don't think its CGPointZero but a little under the navigation bar and ce

[2015-12-09 05:27] acegreen commented on #14
More info: Ended up having to calculate my starButton center by converting it first.

[code]

Now the bubble starts from the button. But there is still the first time lag.

[2015-12-09 09:00] andreamazz commented on #14
It might be related to what your view is loading. Is there by any chance a mapkit object inside? I always notice a considerable lag the first time I load a map view.

[2015-12-09 09:20] acegreen commented on #14
Yea I know what you mean. Had that before but my current segue is super simple and the VC is basically empty. Also the segue perform perfectly from the second time onwards. It's only the first time that it needs to think for a little.

Also I got the whole idea from another project and in that project there is no lag the first time around. Also nowhere else is there a lag to find in my project exc

[2015-12-09 09:21] andreamazz commented on #14
So if you remove the custom transition and use the basic modal, the lag disappears?

[2015-12-09 09:30] acegreen commented on #14
Let me try that.

[2015-12-09 09:37] acegreen commented on #14
device update to iOS 9.2 overnight so give me 5 minutes.

[2015-12-09 09:47] acegreen commented on #14
@andreamazz i removed the transition by removing the code in PrepareForSegue but seems to also be a lag there the first time.

[2015-12-09 09:57] andreamazz commented on #14
It shouldn't be related to the bubble then. Time to fire up the time profiler :grin:

[2015-12-09 13:14] acegreen commented on #14
He issue is described here exactly as I'm seeing it:
http://stackoverflow.com/questions/28509252/performseguewithidentifier-very-slow-when-segue-is-modal

I perform the segue on storyboard so how according to the solution I would need to perform the segue programmatically and use dispatch.

What do you think?

[2015-12-09 13:15] andreamazz commented on #14
Might be worth a try, still it's pretty weird, I never encountered this issue.

[2015-12-09 15:25] acegreen commented on #14
Doesn't work for me. I'm really surprised but this

[2015-12-09 15:28] andreamazz commented on #14
Did you try to profile it?

[2015-12-09 15:28] acegreen commented on #14
Never really played around with instruments or the other tools.

[2015-12-09 15:30] andreamazz commented on #14
Always a good time to start :)
It's pretty easy for basic forensics, pick the time profiler, start recording, trigger the segue and stop the recording. Then you can drill down in the list of calls to see which one takes the most time.

[2015-12-09 15:39] acegreen commented on #14
Just took a shot at it. every time I hit record, my Xcode crashes with thread 1 error

NVM Xcode session shouldn't be running

[2015-12-09 15:41] andreamazz commented on #14
Awesome. Try launching instruments on its own and attach it to the running process on your phone.

[2015-12-09 15:43] acegreen commented on #14
Ok did that and performed the segue and stopped. Now I see stuff I need translated

[2015-12-09 15:44] andreamazz commented on #14
You should see the calls tack with the time it took for each stack. Drill down and check which func takes the most percentage.

[2015-12-09 15:48] acegreen commented on #14
Ok I see 73% on the main thread

<img width="914" alt="screen shot 2015-12-09 at 10 45 22 am" src="https://cloud.githubusercontent.com/assets/10794609/11689900/f9fc9b68-9e61-11e5-90cd-e1d61ef17abe.png">

[2015-12-09 15:48] andreamazz commented on #14
Keep opening the disclosure triangle until you reach a func call that you can recognize (either from UIKit or your code)

[2015-12-09 15:52] acegreen commented on #14
Ah this is just not for me. I rather go at it the old fashion way.

Do you happen to have 5 minutes to Skype?

I can't read through this at all

[Chronic_segue_analysis.trace.zip](https://github.com/andreamazz/BubbleTransition/files/57008/Chronic_segue_analysis.trace.zip)

[2015-12-10 20:38] acegreen commented on #14
@andreamazz

Ahh I knew it was going to be something super trivial. So as mentioned, I took some stuff from another project and forgot one small thing. In my VC I'm using a custom font that I didnt have as a system font or in my project bundle.

So it seems its an Apple glitch because it resorts to System font but takes longer on first segue. Adding the fonts to the bundle, solves the issue.

[2015-12-11 08:35] andreamazz commented on #14
Good to know :+1:

[2015-12-11 08:35] #14 closed, assigned to nobody

[2016-02-09 12:56] jadsonlourenco commented on #7
I don't want open new issue for this question, maybe can reopen the current. I get this error:

[code]

[2016-02-09 13:23] andreamazz commented on #7
Hi @jadsonlourenco
Let me check this right away

[2016-02-09 13:27] andreamazz commented on #7
Wait, you get this error doing what? A plain `carthage update` on your project?

edit: ok, I get the same

[2016-02-09 13:36] andreamazz commented on #7
Ok, I'm confused. `xcodebuild -project BubbleTransition.xcodeproj -scheme BubbleTransition` runs fine, `carthage build --no-skip-current` doesn't. Any idea?

[2016-02-09 13:44] andreamazz commented on #7
Never mind, solved it, checkout the latest version. I'll include the prebuilt archive in the [next release](https://github.com/andreamazz/BubbleTransition/releases/tag/1.0.2)

[2016-02-09 13:44] #7 closed, assigned to nobody

[2016-02-09 14:48] jadsonlourenco commented on #7
Hey @andreamazz now works fine thank you!

[2016-02-09 19:46] istx25 commented on #7
:+1:

[2016-03-06 15:32] bianjingbulb opened #17 "destinationViewController's autolayout doesn't work."
Hi, friend! Thanks for you great work.
Here is a problem.
The destinationViewController's autolayout  doesn't work after I user BubbleTransition to present it.

<img width="699" alt="qq20160307-2 2x" src="https://cloud.githubusercontent.com/assets/12904095/13555142/c4c2ef8a-e3fb-11e5-9024-89335d09bb74.png">
↑ my storyboard

<img width="375" alt="qq20160307-1 2x" src="https://cloud.githubuserconten

[2016-03-08 09:02] andreamazz commented on #17
Hi @bianjingbulb
If you use a standard modal transition the view is there?

[2016-03-08 16:41] bianjingbulb commented on #17
@andreamazz thanks for replying me!!!
 I pushed the view like this ↓
`let newPersonPostViewController = NewPersonPostViewController()
        self.presentViewController(newPersonPostViewController, animated: true, completion: nil)`

[2016-03-08 17:03] andreamazz commented on #17
Ok, but if you remove the bubble transition (and perform the system transition instead), does the issue go away?

[2016-03-08 17:10] bianjingbulb commented on #17
Yes.
↓Like this.
<img width="375" alt="qq20160309-1 2x" src="https://cloud.githubusercontent.com/assets/12904095/13609386/1ef491f6-e59c-11e5-8710-53181c4173a3.png">

[2016-03-15 09:40] andreamazz commented on #17
Can you provide a sample showing this issue? Or at least reproduce the issue in the demo project? I'm having trouble reproducing this.

[2016-03-20 15:18] mshll opened #20 "SpriteKit"
Is there anyway to make it support SpriteKit and scenes?

[2016-03-21 10:02] andreamazz commented on #20
I'm not too familiar with SpriteKit, but if you can present a scene modally, you should be able to do the same with this library.

[2016-03-21 13:02] mshll commented on #20
Alright, thanks anyway.

[2016-03-21 13:02] #20 closed, assigned to nobody

[2016-05-12 11:22] planath opened #21 "Setup with Carthage unable to build"
After adding your Framework in "Linked Frameworks and Libraries" I did following:
1. My run script includes
   /usr/local/bin/carthage copy-frameworks
2. Input files
   $(SRCROOT)/Carthage/Build/iOS/BubbleTransition.framework
3. This leaves me with following error:
   <img width="1072" alt="fatal error" src="https://cloud.githubusercontent.com/assets/6680829/15212960/43021a0c-1844-11e6-9bce-fc2e5d

[2016-05-13 14:18] andreamazz commented on #21
It might be related to this: https://github.com/Carthage/Carthage/issues/1200

[2016-05-13 14:23] andreamazz commented on #21
I've compiled the framework with the latest version of Carthage, and it seem to work now. Can you confirm it?

[2016-05-14 15:58] planath commented on #21
It works perfectly now! Thank you very much for your research an d support. Great transition animation that you provide here 👍

[2016-05-14 15:58] #21 closed, assigned to nobody

[2016-05-16 23:32] jiahao1994 opened #22 "minimum deployment target"
- `BubbleTransition (~> 1.0.0)` required by `Podfile`

Specs satisfying the `BubbleTransition (~> 1.0.0)` dependency were found, but they required a higher minimum deployment target.

I came across this error when i was trying to install in through cocoa pods
My minimum deployment target is 9.0

[2016-05-16 23:43] jiahao1994 commented on #22
ok my bad, I left
platform :ios, ‘7.0’

it should be
platform :ios, ‘9.0’

[2016-05-16 23:43] #22 closed, assigned to nobody

[2016-06-26 22:02] joshharington opened #23 "Initializing"
How do I call the transition? I am creating buttons dynamically (in the code) so how do I attach it?

[2016-06-27 08:23] andreamazz commented on #23
Hi @joshharington
You can follow the readme and instead of implementing prepareForSegue, hooke the delegate and the transition style where you are instantiating your new controller:

[code]

[2016-07-13 13:06] donpironet commented on #17
I've got the same problem. When using everything in full code the destination controller layout constraints are broken...

[2016-07-13 13:07] andreamazz commented on #17
Please provide a sample showing the issue, I can't debug something that I can't reproduce.

[2016-07-13 13:20] donpironet commented on #17
I just tried it in a new project and now it works. In my real app it doesn't. Then the constraints are broken. In the top left corner you see a label with some text and the constraints are center in middle of viewcontroller..

http://i65.tinypic.com/f37s4o.png

[2016-07-13 13:26] donpironet commented on #17
I found the problem in my real app my ViewControllers have a BaseViewController that does some things. If I use this controller as base then it doesn't work:

[code]

[2016-08-05 09:33] #23 closed, assigned to nobody

[2016-09-04 15:19] acegreen opened #25 "Segue To Storyboard Reference"
Hello,

I came across an issue where I refactored my storyboard and am using a storyboard reference. My segue is identical to what it was when I had my VCs in the same storyboard and the transition worked.

Now the bubble transition is not honored and the segue is performed as a regular modal . prepareForSegue is being called and has the following:

[code]

With the new storyboard reference I have

[2016-09-04 15:27] acegreen commented on #25
Here is a quick video.

Note: The segue dimisses in a fade like motion which seems to indicate that the dismiss segue works at least somewhat

http://recordit.co/VhRKXOf4BY

[2016-09-14 21:13] BilalReffas opened #26 "Issue on Swift 3 and Xcode 8"
I updated the Source Code to Swift 3 but the problem is that the Bubble Transition not working anymore for me :( .

[2016-09-15 02:56] the-freshlord commented on #26
I got it to work for me.

[2016-09-15 05:07] BilalReffas commented on #26
Do you have example code ? The transition look's broken for me :/

[2016-09-15 09:35] andreamazz commented on #26
I'll update it to swift 3 syntax in the next few days. I'll keep you posted

[2016-09-15 18:04] the-freshlord commented on #26
@BilalReffas
Also did you make sure that the pod target's `Use Legacy Swift Language Version` is set to no?

[2016-09-15 18:51] BilalReffas commented on #26
I just use the file manually for testing so it works for me :) I will create a pull request thank you ! :)

[2016-09-15 19:41] #26 closed, assigned to nobody

[2016-09-21 19:49] the-freshlord opened #29 "When doing pod install, Swift 3 branch not being pulled."
Hi,

I noticed that the instructions for installing via Cocoapods isn't correct. When using `pod 'BubbleTransition', '~> 1.0.0'` in a podfile and then doing `pod install` in the terminal, it pulls an older version written in Swift 2.2. But if I do `pod 'BubbleTransition', :git => 'https://github.com/andreamazz/BubbleTransition.git'`, it pulls the master branch with has the lastest changes in Swift

[2016-09-21 19:51] andreamazz commented on #29
The readme needs to be updated. Current pod version is 2.0.0

[2016-09-22 15:26] #29 closed, assigned to nobody

[2016-10-07 14:25] kiwo12345 opened #30 "transition.startingPoint = BubbleBtn.center does not work"
I am using the button inside my Navbar like:

**Right bar button -> bar button items -> BubbleBtn**

But when I set: `transition.startingPoint = BubbleBtn.center` it will make the transition start form the very top right corner of my screen:

<img width="62" alt="dis" src="https://cloud.githubusercontent.com/assets/10579811/19193506/94b7bce6-8caa-11e6-9dd8-90a2a0647be4.png">

How can I make it sta

[2016-10-10 09:23] andreamazz commented on #30
is it a UIButton or a UIBarButtonItem?

[2016-10-10 13:16] kiwo12345 commented on #30
@andreamazz UIButton :)

Right bar button -> bar button items -> **UIButton**

[2016-10-11 15:11] andreamazz commented on #30
Ok, so it's inside a navigation bar. It's always tricky finding the right position for those buttons. Take a look at this [SO thread](http://stackoverflow.com/questions/14318368/uibarbuttonitem-how-can-i-find-its-frame)

[2016-10-11 16:14] kiwo12345 commented on #30
@andreamazz look like someone else was asking the same [thing](http://stackoverflow.com/questions/39931976/how-to-get-uibarbuttonitem-center-position) I will try to convert the answer into swift 3 and see if it works

[2016-10-11 16:35] kiwo12345 commented on #30
@andreamazz That didnt work : / I also added a image to my btn and tried to use the image center which did not work. Do you think I could wrap the btn inside a uiview and use the center of that view? running out of ideas now

[2016-10-11 23:32] acegreen commented on #25
Ah resolved. Migration to Swift 3 caused the method to be named different. The VC still adhered to the  UIViewControllerTransitioningDelegate because all methods are optional

@andreamazz maybe consider making the two methods below non-optional?

For future reference

**Incorrect method names**

[code]

[code]

**Correct method names**

[code]

[code]

[2016-10-12 00:19] #25 closed, assigned to nobody

[2016-10-12 08:14] andreamazz commented on #25
The method are define as optionals in UIKit's `UIViewControllerTransitioningDelegate`, I can't do anything about it 😬

The method names looks correct to me in the current master branch.

[2016-10-17 14:26] andreamazz commented on #30
It's always tricky getting the right position in the navigation bar. You can add some hardcoded offsets, it's not pretty, but it'll get the job done.

I'm closing this issue if you don't mind, since it's not directly related to the library.

[2016-10-17 14:26] #30 closed, assigned to nobody

[2016-10-20 03:58] ahikmatf opened #31 "what should be added if i have 2 button?"
especially at this part `transition.startingPoint = transitionButton.center`

[2016-10-20 13:14] andreamazz commented on #31
You just specify the button's center that is originating the transition.

[2016-10-20 13:14] #31 closed, assigned to nobody

[2016-10-20 21:01] kiwo12345 commented on #30
@andreamazz this worked out perfect:

`transition.startingPoint = CGPoint(x: bubbleBtn.center.x, y: bubbleBtn.center.y + 20)`

[2016-10-21 06:48] ahikmatf commented on #31
I mean, the `func animationController(forPresented presented: UIViewController, presenting: UIViewController, source: UIViewController) -> UIViewControllerAnimatedTransitioning? {}` will only have 1 `startingPoint` ,

then if I have 2 button, first button start from `button.center` position, and the second button from `view.center` .

How do I do that?

[2016-10-21 07:36] ahikmatf opened #32 "I put `transmissionMode = .dismiss` in present mode and shows black. (Swift3, xCode8)"
what should I do if I want to have dismiss direction for presenting non modal controller?

[2016-10-21 14:38] andreamazz commented on #32
I'm having a really hard time figuring out what you mean. My best guess is that this is related to #12, so make sure to check that out. Other than that, please provide a more descriptive issue, possibly with a sample demonstrating the issue.

[2016-12-22 15:41] #32 closed, assigned to nobody

[2017-02-02 11:50] brightfuture opened #34 "Github says this project's language is Shell"
It shows **Shell** in my starred page

[2017-02-02 12:44] andreamazz commented on #34
If you know how to edit the .gitattributes file to ignore those sh files, feel free to open a PR.

[2017-02-21 09:44] ozgur commented on #17
I observed the same issue. My destination view controller has map view and it doesn't zoom to correct map area to show all annotations because its frame wasn't set correctly by this animator.

The problem is about using `presentedViewController.center` and `presentedViewController.frame.size` as the `originalCenter` and `originalSize`. They return the same frame and center values as the ones that

[2017-07-20 14:13] andres-cianio commented on #17
I'm facing this same issue... Anyone care to share how to fix it? @ozgur @donpironet @andreamazz

[2017-08-10 06:56] Mahipal-codzgarage opened #37 "Multiple button animation"
how can i use with multiple button with difference location?

[2017-08-30 14:41] andreamazz commented on #37
You just need to provide the appropriate starting point in the delegate.

[2017-09-10 16:32] acegreen opened #38 "self.transitioningDelegate not retained"
Hi,

I'm running into a problem where transitioningDelegate is set the VC is presented with the custom transition but at some point, the transitioningDelegate is nil and so when its dismissed, the transition is the regular dismiss one.

I understand that transitioningDelegate is a weak property but the VC is not deinit'd as I retain a reference to it in my presenting VC

**Note 1:** when I check t

[2017-09-10 17:07] andreamazz commented on #38
You need to store `bubbleTransitionDelegate` as a property. That instance will be deallocated as soon as the `present` method is completed. That's standard memory management, every object not retained declared in the scope of a function will be discarded when the function returns.

[2017-09-11 11:47] acegreen commented on #38
@andreamazz appreciate the response. Why is it that in this instance I need to specifically store the property? I have implemented such transitionDelegates (event this library) before without storing their property.

[2017-09-11 11:49] andreamazz commented on #38
This is not a specific instance, it's how the runtime system works. UIKit declares the `transitioningDelegate` as a weak property, therefore if you don't hold the reference, no one will.
Maybe in other cases your delegate was retained by someone else.

[2017-09-12 10:31] ozgur commented on #17
@andreamazz maybe you have an update on this? To me, a new PR is likely needed.

[2017-09-12 10:37] andreamazz commented on #17
Again, I need a sample that reproduces the issue to test it.
If you have found the solution, a PR is always welcome.

[2017-09-12 13:45] acegreen commented on #38
@andreamazz I understand that but I have done the same animation before without having to retain my `transitioningDelegate` anywhere and it worked on dismiss

[2017-09-12 14:25] andreamazz commented on #38
The delegate object was either retained by someone else or it was instantiated in both the presenting and presented VC, there's no way around how the runtime system works...

[2017-09-12 14:25] #38 closed, assigned to nobody

[2017-12-01 19:35] pbeneteau opened #40 "present two viewControllers at once"
Hi,

When I touch my button with BubbleTransition initiated, there is the bubble animation and it presents the source ViewController and destination ViewController at the same time. Any idea? Thanks.

[2017-12-06 14:40] andreamazz commented on #40
Hi @stealdre
Hard to tell, can you post some of the code that you are using?

[2017-12-16 21:06] lupugabriel commented on #17
I had the same problem as you. This was solved putting the ViewController inside a storyboard. in a xib does not work

[2018-02-17 21:54] GaoleMeng opened #41 "How to use the bubble transition programmatically?"
In the demo, the action is directly binding to the storyboard, but when I try to self.present new viewcontroller, the bubble transition won't work, what should I do?

Thanks

[2018-02-17 22:19] GaoleMeng commented on #41
Solved!

[2018-02-17 22:19] #41 closed, assigned to nobody

[2018-03-15 15:52] LouisBorlee opened #42 "Improvement: Add a background image for the bubble as an alternative of bubbleColor"
Hello,

First of all, thank you for sharing your work, it's great!

I would like to know if you ever considered adding an optional UIImage to be used as a bubble background?

It would be a nice improvement I feel.

Cordially,

[2018-03-15 15:58] andreamazz commented on #42
Wouldn't it look weird, given the massive differences in ratio and sizes?

[2018-03-15 16:13] LouisBorlee commented on #42
I suppose it would depend on how you put it.

It may be possible to use an aspectFill ratio on a large-scaled image.

My use case is:
I have a [floating circle button](https://user-images.githubusercontent.com/1114435/37475683-8b700222-2873-11e8-8bee-080938620528.png) which I would like to extend on click.
It would show some other colored blocks.

[2018-03-15 16:18] andreamazz commented on #42
I see. It should be doable, maybe adding the ability to fade it out and in too.

[2018-03-15 16:20] LouisBorlee commented on #42
Indeed! Even capture a screen-sized image to add as the receiver viewController's background maybe.

[2018-04-27 18:32] dimabiserov opened #43 "swift 4?"
please

[2018-04-30 14:50] andreamazz commented on #43
?
It's already swift 4 compatible.

[2018-04-30 14:50] #43 closed, assigned to nobody

[2018-06-06 11:04] arqambutt opened #45 "Unbalanced calls to begin/end appearance transitions for"
The warning "The unbalanced calls to begin/end appearance transitions" seems to occur on my UINavigationViewController when i tries to present another controller.

[2018-06-21 08:47] andreamazz commented on #45
How are you presenting the new controller?

[2018-06-21 08:54] #37 closed, assigned to nobody

[2018-06-21 08:55] #34 closed, assigned to nobody

[2018-06-21 08:57] #40 closed, assigned to nobody

[2018-06-21 08:58] andreamazz commented on #17
Closing this for now. Feel free to reopen if you have sample code to reproduce the issue, or even better a PR.

[2018-06-21 08:58] #17 closed, assigned to nobody

[2018-06-21 15:23] arqambutt commented on #45
self.transition = BubbleTransition()
                self.transition.startingPoint = self.btn_AddJoke.center
                let nav = UINavigationController.init(rootViewController: vc)
                nav.setNavigationBarHidden(true, animated: false)
                nav.transitioningDelegate = self
                nav.modalPresentationStyle = .custom
                nav.setNavigationBarHidden(tr

[2018-06-22 07:58] andreamazz commented on #45
OK, pushing a navigation controller causes that.
I'm a bit stumped, help on the subject is welcome.

[2018-07-01 17:15] ryandailey100 opened #46 "Swipe down to dismiss"
Is there a way to swipe down to dismiss the ModalViewController? If so, how can this be done? Can that be added in a next update? Please let me know, thanks!

[2018-07-02 12:41] andreamazz commented on #46
No, there is no way currently, and I'm not planning on adding this feature at the moment. It would be a great addition though. if anyone wants to pitch in, PRs are always welcome.

[2018-07-03 15:38] andreamazz commented on #46
I ended up implementing it myself. Checkout commit 181f663
I'm going to document it better tomorrow, but for now you can check out the sample project.

[2018-07-03 16:06] ryandailey100 commented on #46
Works great! Appreciate the implementation. Thanks 👍

[2018-07-03 16:06] #46 closed, assigned to nobody

[2018-07-04 07:34] andreamazz commented on #46
Great. I've added the swipe direction and improved the docs. Released version `3.1.0`.
👍

[2018-07-11 08:37] fukemy commented on #43
[code]

i got this error when run pod. **Can you help?**

[2018-07-11 08:44] andreamazz commented on #43
Please post your Podfile.

[2018-07-11 08:52] fukemy commented on #43
here sir:
[code]

[2018-07-11 08:55] andreamazz commented on #43
I see no problem in that. I just tested it and it pulls version ‘3.0.2‘ correctly.
Have you tried running `pod repo update`?

[2018-07-11 09:09] fukemy commented on #43
it work after update. t.y

[2018-08-03 08:42] andymartinwork opened #47 "Swift4 + ObjC"
Now Swift4 has changed the way that Objective-C is called, there needs to be a very minor change to this library.

@objc needs to be added before all of the open vars.

[2018-08-22 14:34] asam139 commented on #47
I did the [pull request](https://github.com/andreamazz/BubbleTransition/pull/48) :)

[2018-09-22 04:05] bauloc opened #49 "Animation Controller for Dismissed Not work in iOS 9.3 & iOS 12"
Thanks to the author for the great library, very easy to use, however
I can not run the dismissal effect on ios 9.3 and ios 12. Please check again.
Thank you.

[2018-09-26 08:19] andreamazz commented on #49
Great. The funny thing is that the view hierarchy inspector looks fine:
![screenshot 2018-09-26 at 10 18 34](https://user-images.githubusercontent.com/570797/46066811-a0ecad80-c175-11e8-9b51-15c6846b7f18.png)

[2018-09-26 08:58] andreamazz commented on #49
I'll toss this to an iOS issue, filed radar 44790012.

[2018-09-28 09:48] IvanGzx opened #50 "can't dismiss viewcontroller in ios12"

[2018-09-28 09:52] andreamazz commented on #50
https://github.com/andreamazz/BubbleTransition/issues/49

[2018-09-28 09:52] #50 closed, assigned to nobody

[2018-09-28 10:13] andreamazz commented on #49
Another reference to the issue: https://forums.developer.apple.com/thread/108568

[2018-10-16 06:30] sushilskycap commented on #49
Same issue. It just stuck at the presentedViewController. if I press home button and open app from app icon, it show the presentingViewController.

[2018-10-16 07:20] andreamazz commented on #49
It's an iOS issue, open or dup a radar, no point in +1ing this issue

[2018-11-22 12:04] birbay commented on #41
how did you solve it?

[2018-11-22 12:14] birbay commented on #41
I Solved like this

        if let controller = segue.destination as? LoginViewController {
            controller.transitioningDelegate = self
            controller.modalPresentationStyle = .custom
            present(controller, animated: true, completion: nil)
        }

[2018-11-27 08:41] #49 closed, assigned to nobody

[2018-11-27 08:41] andreamazz commented on #49
Check out the updates in c283745 to implement the fix.

[2018-11-27 08:43] #47 closed, assigned to nobody

[2018-11-27 12:55] StellarKuldeep opened #51 "Good"
Good

[2018-11-28 06:43] #51 closed, assigned to nobody

[2019-01-09 20:45] federico2390 commented on #45
Hi, I have the same problem, have you solved?

[2019-01-21 16:36] alexookah opened #52 "update for swift 4.2?"

[2019-01-22 08:31] andreamazz commented on #52
Version `3.2.0`

[2019-01-22 08:31] #52 closed, assigned to nobody

[2019-01-23 11:06] alexookah opened #53 "Wrong Frame Starting Center when Translucent is False"
When using navigation bar with Translucent = False the starting point of the animation is calculated wrong.

Check the following video:
https://streamable.com/gs9rn

Check my forked repo to reproduce:
https://github.com/Alexookah/BubbleTransition

changes:
i added a navigation controller as initial vc and changed the translucency in the navigation Bar.

[2019-01-23 17:32] andreamazz commented on #53
The center is user provided, so you just need to adjust it like this:
[code]

Notice the call to `convert` to get the absolute position.

[2019-01-23 17:33] #53 closed, assigned to nobody

[2019-01-27 09:19] asar1 opened #55 "Any chance of navigation instead of presenting?"
i want this in my navigation controller

[2019-03-11 10:33] Erumaru commented on #17
I've had the same problem, because I use xib. My workaround:
`presentedVC.view.frame = presentingVC.view.bounds`

Steps to reproduce (I'm not sure):
1) Create vc in xib
2) Change vc size (Set other iPhone representation)
3) Make bubble transition

Transition uses size from xib

[2019-03-19 14:04] lyx0124 opened #56 "Cannot use BubbleInteractiveTransition"
Thanks for this library! But after I added it to my project using cocoapods, I can't use BubbleInteractiveTransition class. However, I can use BubbleTransition. And I checked "BubbleTransition.swift" file, it seems that there is no BubbleInteractiveTransition class at all. I don't why this happens.

[2019-03-19 14:21] andreamazz commented on #56
It's [here](https://github.com/andreamazz/BubbleTransition/blob/master/Source/BubbleTransition.swift#L115)

Are you using objective-C?

[2019-03-19 14:57] lyx0124 commented on #56
I'm using swift.
There indeed is a BubbleInteractiveTransition class in github file. However the file I installed to my project through cocoapods doesn't. It's very strange. The "BubbleTransition.swift" file is different to the one on github.

[2019-03-19 17:20] andreamazz commented on #56
I just tested it out, it pulls the correct version (3.2.0)
Maybe you are pulling an older version, check the `cocoapods install` output, it should read:
[code]

[2019-03-20 03:07] lyx0124 commented on #56
It seems the README file still says pod 'BubbleTransition', '~> 3.0.0'. After changing my pod to 3.2.0, everything worked out just fine. Thanks for your help!

[2019-03-20 14:58] #56 closed, assigned to nobody

[2019-04-29 03:38] sky9662 opened #57 "Is it possible to accept gesture while animating?"
Hi, thanks for sharing the great work.
It works well on my project, but my project needs the ability to keep accepting gestures of the user, wondering if this can be done with Bubble Transition?

[2019-04-29 07:17] andreamazz commented on #57
Hey @s951736
it should work fine, but it's hard to tell without more details. On top of my mind I could suggesting impelmenting the gesture's delegate method:
[code]

[2019-04-29 15:17] sky9662 commented on #57
Hello, I should provide more detail.
Now my project is pretty simple, there are only two VC in it, and first VC has a button which triggers the segue with bubble transition (just like the demo project). The second VC has an UITapGestureRecognizer that detect tap for the whole VC. I hope the second VC can start to detect user's tapping right after the button in first VC been pressed, even when the

[2019-04-29 15:39] andreamazz commented on #57
In your second VC set the delegate of the gesture to `self`, something like this:
[code]

then add protocol conformity to your controller and add the aforementioned method. I like to do so in a separate extension at the bottom of the file:
[code]
Change `SecondViewController` with your controller's name

[2019-04-29 18:06] sky9662 commented on #57
Thanks for the reply.
I tried the code but it seems not working. The second VC conformed to UIGestureRecognizerDelegate itself, so I add the func to the VC directly without using the extension, here is the code:

[code]

[2019-05-06 13:31] andreamazz commented on #57
Does the gesture work if you use a standard transition? Because I reckon this is not an issue with this lib.

[2019-07-03 09:30] Senocico opened #58 "It is possible to use this library to add child view controller to a container view?"
I want to add as a child view controller to a container view; is this possible? Because when present a view controller it is displayed on the top above all the other content.

[2019-07-03 09:33] andreamazz commented on #58
Never tried, if you can concoct a quick sample project I'd be happy to take a look at it.

[2019-07-03 09:58] Senocico commented on #58
[QIOZ.zip](https://github.com/andreamazz/BubbleTransition/files/3354411/QIOZ.zip)

Thank you for the quick answer.
I attached a project.

Go to the TabBarVC file, comment line 129, and uncomment the line 130.
I want the tab bar view to be visible when another controller is added to the self.containerView.

Thank you for your interest!

[2019-07-03 12:15] andreamazz commented on #58
Hi @Senocico
I've taken a look at the project, and I don't think it's something that I can integrate in the library, the best course of action is to take part of the transition code and integrate it in your own app directly.
Mainly you'll need to take this part: https://github.com/andreamazz/BubbleTransition/blob/master/Source/BubbleTransition.swift#L197-L222
and adapt it to your view's frames in

[2019-07-03 12:17] Senocico commented on #58
Thank you for your suggestion! I will do so.

[2019-07-17 13:26] hardikamal opened #59 "Button clicks or tableview cell selection not working"
Hi,
First of all thanks for the awesome library
I have added a button and tableview in the presented view. But the button clicks or tableview cell selection are not working.

[2019-07-17 13:27] andreamazz commented on #59
Hey @hardikamal
I'll need a bit more info to troubleshoot this. A sample project showing the issue would be also great.

[2019-07-17 15:53] hardikamal commented on #59
Issue on my side. Had turned off the user interaction by mistake.

Thanks

[2019-07-17 15:53] #59 closed, assigned to nobody

[2019-07-24 06:05] WNjun commented on #45
Same problem here. Anybody has the solution?

[2020-03-05 06:19] birdmichael opened #61 "about `UIStatusBarStyle`"
Because  newVC.modalPresentationStyle = .custom
so, Is not working
[code]

If oldVC and NewVC have different status bar styles, What should I do?

[2020-03-05 06:30] birdmichael commented on #61
Thank you for your excellent work, I have achieved a relative solution.
[code]
I think we can add this code to the demo.

[2020-03-05 06:30] #61 closed, assigned to nobody

[2020-03-05 08:53] andreamazz commented on #61
Hi @birdmichael
Good call, I've added that flag to the demo and the documentation.
Thanks

[2020-03-28 17:43] asam139 opened #63 "Support Swift Packages Manager"

[2020-04-03 15:26] andreamazz commented on #63
Done

[2020-04-03 15:26] #63 closed, assigned to nobody

[2020-04-03 15:26] #58 closed, assigned to nobody

[2020-04-03 15:27] andreamazz commented on #57
Closing this for inactivity, reopen if you have more info.

[2020-04-03 15:27] #57 closed, assigned to nobody

[2020-04-14 06:16] fernland commented on #45
I was able to fix this by changing the modalPresentationStyle of the navVC to .overFullScreen

`navVC.modalPresentationStyle` = .overFullScreen`